<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
     id="Carousel">
  <h1 class="h2">{{title}}</h1>
</div>
<div class="row">
  <div class="col-md-4">
    <app-doc [pageData]="codes"></app-doc>
  </div>
  <div class="col-md-8">
    <div *ngIf="rows">
      <ui-datatable
        class="material"
        [rows]="rows"
        [columns]="columns"
        (page)="onPageChange($event)"
        (sorted)="onSort($event)">
      </ui-datatable>
      <h3>Pagination Separate</h3>
      <ui-pagination
        [size]="12"
        [totalCount]="65"
        (pageChange)="onPageChange($event)">
      </ui-pagination>
    </div>
  </div>
</div>
