
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
     id="Carousel">
  <h1 class="h2">{{title}}</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <app-doc [pageData]="codes"></app-doc>
  </div>
  <div class="col-md-6">
    <div class="demo-content ">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <ui-autocomplete [sourceURL]="jsonURL" niddle="code" (selected)="onSelection($event)"></ui-autocomplete>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
  </div>
</div>
