.ui-autocomplete-container{
  position: relative;
}
.ui-autocomplete-list{
  position: absolute;
  z-index: 9;
  width: 100%;
}
.ui-autocomplete-list-item:hover{
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
