<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
     id="Carousel">
  <h1 class="h2">{{title}}</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <app-doc [pageData]="codes"></app-doc>
  </div>
  <div class="col-md-6">
    <p class="demo-output">
      <code class="pull-left">From :  {{selectedDateFrom}}</code>
    </p>
    <p class="demo-output">
      <code class="pull-left">To :  {{selectedDateTo}}</code>
    </p>
    <div class="demo-content row">
      <div class="col-md-6">
        <ui-datepicker (selected)="onSelectFrom($event)"></ui-datepicker>
      </div>
      <div class="col-md-6">
        <ui-datepicker (selected)="onSelectTo($event)"></ui-datepicker>
      </div>
    </div>
  </div>
</div>
