<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
     id="Carousel">
  <h1 class="h2">{{title}}</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <app-doc [pageData]="codes"></app-doc>
  </div>
  <div class="col-md-6">
    <div class="demo-content float-right">
      <ui-accordion>
        <ui-accordion-panel [header]="item.headerText" [isOpen]="item.isOpen" *ngFor="let item of items">
          <h1>{{item.bodyText}}</h1>
        </ui-accordion-panel>
      </ui-accordion>

    </div>
  </div>
</div>
