<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
     id="Carousel">
  <h1 class="h2">Get Started</h1>
</div>
<div class="row">
  <div class="col-md-12">
    <h5>Download</h5>
    <ngx-prism [language]="language" [code]="codes.download"></ngx-prism>
    <h5>Dependencies</h5>
    <div *ngFor="let dependency of codes.dependencies">
      <ngx-prism [language]="language" [code]="dependency" ></ngx-prism>
    </div>
    <h5>Import</h5>
    <ngx-prism [language]="language" [code]="codes.import"></ngx-prism>
    <h5>Html</h5>
    <ngx-prism [language]="language" [code]="codes.html"></ngx-prism>
    <h5>Modules</h5>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let property of codes.modules">
          <td>{{property.name}}</td>
          <td>{{property.description}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
